<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>215989883462-5n2a4tugbnu8t4paacf36foq249umeo3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.215989883462-5n2a4tugbnu8t4paacf36foq249umeo3</string>
	<key>API_KEY</key>
	<string>AIzaSyDgFsoX5R80k-lI19lllSykrOfxaHF49SY</string>
	<key>GCM_SENDER_ID</key>
	<string>215989883462</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.abdoassem.sabbah</string>
	<key>PROJECT_ID</key>
	<string>sabbah-a3e63</string>
	<key>STORAGE_BUCKET</key>
	<string>sabbah-a3e63.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:215989883462:ios:f1c525fdd0368f48</string>
	<key>DATABASE_URL</key>
	<string>https://sabbah-a3e63.firebaseio.com</string>
</dict>
</plist>